<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SampleWebApplication With BootStrap DataTables</title>

    <!--DataTable Styling-->
    <link rel='stylesheet' th:href="@{DataTables/datatables.min.css}">
    <!--Custom Styling-->
    <link rel="stylesheet" th:href="@{css/index.css}">


<style></style>

</head>
<body onload="init()">

<!--Main Div-->
<div id="main-div">
<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

    <div id="content-div">
        <h2>This is Sample Content</h2>
        <p>This is sample content. </p>

        <form>
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input"id="fileInput">
                <pre id="fileContent"></pre>
                <label class="custom-file-label" for="fileInput">Choose file</label>
            </div>
        </form>
    </div>

    <!--Static line-->
    <hr/>

    <!--DataTable Div-->
<div id="data-table-div">

<table id="table1" class="table table-striped table-bordered table-hover table-lg">
    <thead class="thead-dark">
    <tr>
        <th class="firstColumn">User Name</th>
        <th class="secondColumn">Email Address</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>


</div>
</body>

<!--DataTable JavaScript Dependencies-->
<script type="text/javascript" th:src="@{DataTables/datatables.min.js}"></script>


<!--Add our userList to the DOM for JS files-->
<script th:inline="javascript">
     var userList = [[${userList}]];
</script>

<!--Custom DataTables JS-->
<script type="text/javascript" th:src="@{js/loadingDataTablesFunction.js}">
</script>


</html>